<!doctype html>
<html>
    {{!-- Head --}}
    <head>
        <title>Meadowlark Travel</title>
        {{!-- <link rel="stylesheet" href="./public/css/SHEET_NAME.css"> --}}
    </head>
    
    {{!-- Body changeable --}}
    <body>
        {{{body}}}
    </body>

    {{!-- Footer --}}
    <footer></footer>

    {{!-- Scripts --}}
    <script></script>
</html>
