<h1>Welcome to BeeXtrovert</h1>

<p>Fortune cookies of today:</p>
<blockquote>{{fortune}}</blockquote>

{{#if loggedIn}}
{{!-- <p>{{userId}}</p> --}}
<p>Hello, {{userName}}.</p>
<a href="/logout">logout</a>
{{else}}
<a href="/signup">signup</a><br>
<a href="/signin">signin</a>
{{/if}}

{{#if isAdmin}}
<a href="/admin">Admin page</a>
{{/if}}