<h1>Signup Form</h1>
<form action="/sign_up" method="post">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="submit" value="Submit" id="submit">
</form>
<a href="/signin">Go to sign in page</a><br>
<a href="/">Back to home page</a>