<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <h1>Let's get Started</h1>

        <footer>
        <%- include('../partials/footer'); %>
        </footer>
    </body>
    
    <script>
        window.onload = function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(savePosition);
                navigator.permissions.query({name:'geolocation'}).then(function(result) {
                    // Will return ['granted', 'prompt', 'denied']
                    console.log(result.state);
                });
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }

            function savePosition(position){
                console.log("Submit");
            }
        };
    </script>
</html>