<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <h1>Let's get Started</h1>
        <form id= "set_language" class= "set_language" action="/set_language" method="post">
            <select id="selectLanguage" name="selectLanguage">
                <option selected disabled>Choose your language</option>
            </select>
            <input id="submit" type="submit" value="Next">
        </form>
        <footer>
        <%- include('../partials/footer'); %>
        </footer>
    </body>
    
    <script>
        $(function() {
            $("#set_language").on("submit", function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/set_language",
                    type: 'POST',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.error) {
                            $('#error').text(data.error);
                        }else{
                            window.location.href = data.redirect;
                        }
                    }
                })
            });
        });
        var select = document.getElementById("selectLanguage"); 
        var language_list = ["Mandarin Chinese","Spanish","English","Hindi/Urdu","Arabic","Bengali","Portuguese","Russian","Japanese","German","Punjabi","French","Telugu","Vietnamese","Korean","Tamil","Italian","Turkish",];
        language_list.sort()
        for(var i = 0; i < language_list.length; i++)
             {
                 var option = document.createElement("option"),
                     txt = document.createTextNode(language_list[i]);
                 option.appendChild(txt);
                 option.setAttribute("value",language_list[i]);
                 select.insertBefore(option,select.lastChild);
             }
        window.onload = function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(savePosition);
                navigator.permissions.query({name:'geolocation'}).then(function(result) {
                    // Will return ['granted', 'prompt', 'denied']
                    console.log(result.state);
                });
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }

            function savePosition(position){
                console.log("Submit");
            }
        };
    </script>
</html>