<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>

    <% if(geoLocation == "null") {%>
        <script>
            window.location.href = "/getstarted";
        </script>
    <% } %>
    </head>
    <body class="container">
        <h1>Welcome to BeeXtrovert</h1>

        <p>Fortune cookies of today:</p>
        <blockquote><%= fortune %></blockquote>
        
        <% if(loggedIn){ %> 
        <p>Hello, @<%= userName %>.</p>
        <a href="/editUser">Edit profile</a>
        <a href="/logout">logout</a>
        <% } else { %>
        <a href="/signup">signup</a><br>
        <a href="/signin">signin</a>
        <% } %>
        
        <% if(isAdmin) { %>
        <a href="/admin">Admin page</a>
        <% } %>

        <footer>
        <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>